# Create the repository? (true|false)
setuprepository=true
# Create the default branches? (true|false)
setupbranches=true
# Which PHP version should this site use? (71|56)
skeletonphpversion="71"
# Remove/Update WP plugins when provisioning? (true|false)
skeletonwpplugins=true
# Generate WP salts when provisioning? (true|false)
skeletonwpsalts=true
# Update commonly changed WP options when provisioning? (true|false)
skeletonupdateoptions=true
# Import WP Test data when provisioning? (true|false)
skeletonwptestdata=true
# Check code for WPCS compliance via Git pre-commit hooks? (true|false)
skeletonprecommitwpcs=true
# Use the Normalize CSS reset? (true|false)
sassnormalize=true
# Use a front-end framework ? (foundation|bourbon|bootstrap|noframework)
sassframework="noframework"
# Lint PHP, SCSS and Javascript on (re)build? (true|false)
gruntlintphp=false
gruntlintscss=false
gruntlintjs=false
# Document PHP, SCSS and Javascript on (re)build? (true|false)
gruntdocumentphp=false
gruntdocumentscss=false
gruntdocumentjs=false
# Run tasks relating to legacy browsers on re(build)? (true|false)
gruntlegacybrowsers=false
